<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <title>혼잡도체크</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
  <link rel="stylesheet" href="assets/css/animated.css">
  <link rel="stylesheet" href="assets/css/owl.css">
</head>

<body>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="col-lg-12 align-self-center">
        <div class="section-heading">
          <h4>실내 <em>혼잡도</em> 체크</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
          <h5>12월 11일 토요일</h5>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#">현재 실내 공간 이용자 수</a></h4>
              <h3><%= total_count %>명</h3>
              <div class="gradient-button">
                <a href="#"> 원 활 </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#">오늘의 방문자 수</a></h4>
              <h5><%= in_count %>명</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="pricing-item-pro">
              <h4>시간 별 혼잡도 평균</h4>
              <!-- 원활 양호 혼잡  -->
              <ul>
                <li>09:00-10:00 - 원활</li>
                <li>10:00-11:00 - 양호</li>
                <li><b>11:00-12:00 - 혼잡</b></li>
                <li><b>11:00-12:00 - 혼잡</b></li>
                <li>13:00-14:00 - 양호</li>
                <li>14:00-15:00 - 원활</li>
                <li>15:00-16:00 - 원활</li>
                <li>16:00-17:00 - 양호</li>
                <li><b>11:00-12:00 - 혼잡</b></li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="service-item fourth-service">
              <div class="icon"></div>
              <h4>시설 이용 정보</h4>
              <p> 오픈 시간: 오전9시 - 오후 6시 </p>
              <div class="text-button">
                <a href="https://www.google.com">더 보기 <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>